body {
  background-color: lavender;
}

div {
  column-gap: 3px;
}

h1 {
  border: 2px solid black;
  background-color: lightblue;
  padding: 5px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px;
  column-gap: 19px;
}

#grid > div {
  background-color: lavender;
}

h2 {
  border: 1px solid black;
  text-align: center;
  background-color: lightblue;
  padding: 3px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
