body {
  background-color: lavender;
  border: 30px solid black;
}

h1 {
  padding-top: 25px;
  text-align: center;
}

h3 {
  text-align: center;
}

div {
  text-align: center;
  padding-bottom: 30px;
}
