body {
  background-color: lavender;
  border: 30px solid black;
}

h1 {
  color: black;
  padding-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

p {
  text-align: center;
}

h2 {
  font-size: 50%;
  color: black;
  text-align: center;
}

div {
  text-align:center;
  background-color: lightblue;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
